#logo {
	font-size: 2em;
	color: blue;
	padding-left: 0.7em;
	position: absolute;
	top: 0.1em;
	left: -0.5em;
	font-weight: bold;
}
#menu_sup_acceder {
	text-align: center;
	float: right;
	margin-top: 0em;
	margin-right: 0em;
	border: 1px blue solid;
	color: white;
	background-color: blue;
	border-radius: 0.5em;
	padding: 0.3em;
	padding-right: 0.5em;
	padding-left: 0.3em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	position: absolute;
	right: 1em;
	top: 0.3em;
}
#menu_sup_comprar {
	margin-left: 2em;
	color: gray;
	position: absolute;
	left: 9em;
	top: 1em;
}
#menu_sup_vender {
	margin-left: 2em;
	margin-bottom: 100em;
	color: gray;
	position: absolute;
	left: 15em;
	top: 1em;
}
#fondo {
	position: absolute;
	width: 100%;
    height: 16em;
	top: 3em;
	background-color: gray;
    z-index: 1;
}
#menu_cen {
	background-color: blue;
	width: 97em;
	margin-left: 9em;
	margin-top: 1em;
	position: absolute;
	text-align: center;
	padding-top: 1.5em;
	border-radius: 1em;
	height: 10em;
}
#texto_fondo {
	margin: 1px green solid;
	position: absolute;
	top: 13em;
}
#titulo_menu_cen {
	color: white;
	margin: 1px green solid;
	font-size: 1.5em;
	padding-bottom: 5em;
}
#menu_cen_comprar {
	color: white;
}
#caja_login {
	background-color: white;
	width: 30em;
	height: 13em;
	margin-left: 40em;
	margin-top: 1em;
	position: absolute;
	text-align: center;
	padding-top: 1.5em;
	border-radius: 1em;
	border: 1px black solid;
}
#cerrar_login {
	position: absolute;
	bottom: 6.2em;
	left: 14em;
	font-size: 2em;
	color: gray;
}
#titulo_login {
	font-size: 2em;
	position: absolute;
	right: 1.5em;
}
#email_login {
	padding: 0.5em;
	width: 29em;
	position: absolute;
	left: 0.0em;
	top: 5em;
}
#boton_login {
	position: absolute;
	top: 5em;
	width: 5em;
	font-size: 0.6em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	width: 20em;
	background-color: blue;
	border-radius: 1em;
	right: -0.3em;
	top: 6em;
}
.enlace {
	text-decoration: none;
	color: inherit;
}
#buscar_index {
	padding: 1em;
	width: 107em;
	top: 1em;
	position: absolute;
	top: 8em;
	right: 8em;
}
#boton_buscar_index {
	background-color: green;
	padding: 0.6em;
	position: absolute;
	top: 8.3em;
	right: 8.3em;
	color: blue;
}
#caja_crear_cuenta {
	border: 1px black solid;
	position: absolute;
	width: 40em;
	left: 40em;
	height: 40em;
	border-radius: 1em;
}
#cerrar_creando {
	position: absolute;
	font-size: 2em;
	color: gray;
	left: 19em;
}
#titulo_creando {
	font-size: 1.5em;
	position: absolute;
	top: 3em;
	left: 10em;
}
#descripcion_creando {
	position: absolute;
	color: gray;
	top: 9em;
	width: 21em;
	left: 9em;
}
#correo_creando {
	position: absolute;
	padding: 0.5em;
	width: 30em;
	top: 17em;
	left: 8em;
}
#enlace_creando {
	position: absolute;
	top: 14.5em;
	left: 33em;
	color: blue;
}
#name_creando {
	position: absolute;
	padding: 0.5em;
	width: 30em;
	top: 21em;
	left: 8em;
}
#password_creando {
	position: absolute;
	padding: 0.5em;
	width: 30em;
	left: 8em;
	top: 25em;
}
#advertencia_creando {
	position: absolute;
	top: 24em;
	left: 6.7em;
}
#politicas_creando {
	position: absolute;
	top: 33.6em;
	left: 7.5em;
}
#advertencia_politicas_creando {
	position: absolute;
	top: 28em;
	left: 8em;
	width: 25em;
}
#crear_cuenta_creando {
	position: absolute;
	top: 39em;
	width: 30em;
	border-radius: 0.5em;
	padding-top: 1em;
	padding-bottom: 1em;
	left: 8em;
	background-color: blue;
	
}
#ya_tengo_creando {
	position: absolute;
	top: 37em;
	left: 14em;
	color: blue;
}
#caja_loguear_cuenta {
	border: 1px black solid;
	position: absolute;
	width: 40em;
	left: 40em;
	height: 22em;
	border-radius: 1em;
}
#correo_loguear {
	position: absolute;
	padding: 0.5em;
	width: 30em;
	left: 8em;
	top: 10em;
}
#titulo_logueando {
	font-size: 1.5em;
	position: absolute;
	top: 3em;
	left: 4.5em;
}
#loguear_cuenta {
	position: absolute;
	top: 10em;
	width: 20em;
	border-radius: 0.5em;
	padding-top: 1em;
	padding-bottom: 0.5em;
	padding-top: 0.5em;
	left: 6em;
	background-color: blue;
	font-size: 1.2em;
	color: white;
}
#tengo_cuenta {
	position: absolute;
	top: 15em;
	left: 12em;
	color: blue;
	font-size: 1.2em;
}
#titulo_anuncio {
	font-size: 1.5em;
	position: absolute;
	top: 3em;
	left: 20em;
}
#precio_anuncio_titulo {
	position: absolute;
	top: 6em;
	width: 21em;
	left: 25em;
	font-size: 1.2em;
}
#precio_anuncio {
	position: absolute;
	width: 17em;
	left: 30em;
	top: 9.5em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	font-size: 1em;
}
#dudas_anuncio {
	position: absolute;
	top: 11em;
	width: 21em;
	left: 25em;
	font-size: 1.2em;
}
#dudas_anuncio_enlace {
	position: absolute;
	top: 0em;
	color: blue;
	width: 21em;
	left: 9.5em;
	font-size: 1em;
}
#superficie_anuncio_titulo {
	position: absolute;
	top: 13em;
	width: 21em;
	left: 25em;
	font-size: 1.2em;
}
#superficie_anuncio {
	position: absolute;
	width: 17em;
	left: 30em;
	top: 18em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	font-size: 1em;
}
#numero_anuncio_titulo {
	position: absolute;
	top: 18em;
	width: 21em;
	left: 25em;
	font-size: 1.2em;
}
#piso_anuncio_texto {
	position: absolute;
	top: 18em;
	width: 21em;
	left: 40em;
	font-size: 1.2em;
}
#numero_anuncio {
	position: absolute;
	width: 17em;
	left: 30em;
	top: 24em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	font-size: 1em;
}
#piso_anuncio {
	position: absolute;
	width: 17em;
	left: 48em;
	top: 24em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	font-size: 1em;
}
#puerta_anuncio_titulo {
	position: absolute;
	top: 23em;
	width: 21em;
	left: 25em;
	font-size: 1.2em;
}
#codigo_anuncio_texto {
	position: absolute;
	top: 23em;
	width: 21em;
	left: 40em;
	font-size: 1.2em;
}
#puerta_anuncio {
	position: absolute;
	width: 17em;
	left: 30em;
	top: 30em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	font-size: 1em;
}
#codigo_anuncio {
	position: absolute;
	width: 17em;
	left: 48em;
	top: 30em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	font-size: 1em;
}
#direccion_anuncio_titulo {
	position: absolute;
	top: 28em;
	width: 21em;
	left: 25em;
	font-size: 1.2em;
}
#calle_anuncio {
	position: absolute;
	width: 25em;
	left: 30em;
	top: 36em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	font-size: 1em;
}
#zona_anuncio {
	position: absolute;
	width: 17em;
	left: 30em;
	top: 39.5em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	font-size: 1em;
}
#foto_anuncio_titulo {
	position: absolute;
	top: 36em;
	width: 21em;
	left: 25em;
	font-size: 1.2em;
}
#foto_anuncio {
	position: absolute;
	left: 36em;
	top: 55em;
}
#crear_anuncio {
	position: absolute;
	top: 49em;
	width: 6em;
	font-size: 1em;
	padding-right: 5.5em;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 1em;
	background-color: blue;
	border-radius: 0.5em;
	left: 50em;
	color: white;
}
#tipo_creando_comprador {
	position: absolute;
	top: 31.1em;
	left: 7.5em;
}
#comprador_creando {
	position: absolute;
	top: 26em;
	left: 8em;
}
#tipo_creando_vendedor {
	position: absolute;
	top: 31.2em;
	left: 16em;
}
#vendedor_creando {
	position: absolute;
	top: 26em;
	left: 15em;
}
.tabla_pisos {
	border-collapse: collapse;
}
.td_pisos {
	width: 5em;
	text-align: center;
}
img {
	width: 17em;
}
#menu_sup_admin {
	margin-left: 2em;
	margin-bottom: 100em;
	color: gray;
	position: absolute;
	left: 20em;
	top: 1em;
}
.tabla_admin {
	width: 10em;
	height: 10em;
	text-align: center;
}
table {
	border-collapse: collapse;
	position: absolute;
	left: 23em;
	top: 13em;
}